<div class="navbar navbar-fixed-top" ng-controller="NavBarCtrl">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Punchcode</a>
		<div class="nav-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<!-- <li ng-show="user.id" ng-class="{active:path=='/' || path=='/codes'}"><a href="#" ng-click="codes()">Codes</a></li>
				<li ng-show="user.id" ng-class="{active:path=='/rewards'}"><a href="javascript:" ng-click="rewards()">Rewards</a></li>
				<li ng-show="user.id" ng-class="{active:path=='/account'}"><a href="#" ng-click="account()">Account</a></li>
				<li ng-show="user.id"><a href="#" ng-click="logout()">Logout</a></li> -->
				<li ng-show="!user.id"><a href="#" ng-click="login()">ASDF</a></li>
				<li ng-show="!user.id"><a href="#" ng-click="signup()">Sign Up</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div ng-view></div>
</div>
