<div class="row">
	<div ng-show="!paymentinfo.length" class="alert alert-dismissable alert-danger">
              <strong>Hold on!</strong> &nbsp;You must add a payment method to your <a href="javascript:" ng-click="gotoaccount()" class="alert-link">Account</a> in order to buy Grubcodes.
            </div>
</div>
<div class="row">
<div class="price-list col-md-6">
	<fieldset>
		<legend><i class="glyphicon glyphicon-flash" style="font-size:1em;margin-right:15px;"></i>One-time Purchase</legend>
		<div class="col-md-6">
			<div class="well text-center buy-list">
				<h1><span style="font-size:0.7em;">$</span><em>10</em></h1>
				<h4>2,000 Grubcodes</h4>
				<ul class="pricing-detail-list">
					<li>No ratings &amp; reviews</li>
				</ul>
				<!-- <button type="button" class="btn btn-link btnsignup" style="margin-top:40px;">Purchase</button> -->
				<input type="radio" name="purchaseType" style="margin-top:35px;" ng-click="purchaseTypeChanged(0)" ng-disabled="!paymentinfo.length" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="well text-center buy-list">
				<h1><span style="font-size:0.7em;">$</span><em>15</em></h1>
				<h4>2,000 Grubcodes</h4>
				<h4><strong>Includes ratings &amp; reviews!</strong></h4>
				<!-- <button type="button" class="btn btn-link btnsignup">Purchase</button> -->
				<input type="radio" name="purchaseType" ng-click="purchaseTypeChanged(1)" ng-disabled="!paymentinfo.length" />
			</div>
		</div>
	</fieldset>
</div>
<div class="price-list col-md-6">
	<fieldset>
		<legend><i class="glyphicon glyphicon-calendar" style="font-size:1em;margin-right:15px;"></i>Monthly Subscription <em style="font-size:0.7em;">(Coming Soon)</em></legend>
		<div class="col-md-6">
			<div class="well text-center buy-list">
				<h1>
					<span style="font-size:0.7em;">$</span><em>20<span style="font-size:0.7em;">/mo</span></em>
				</h1>
				<h4>Up to 5,000 Grubcodes</h4>
				<ul class="pricing-detail-list">
					<li>No ratings &amp; reviews</li>
				</ul>
				<!-- <button type="button" class="btn btn-link btnsignup" style="margin-top:40px;">Subscribe</button> -->
				<input type="radio" name="purchaseType" style="margin-top:35px;" ng-click="purchaseTypeChanged(2)" ng-disabled="1 || !paymentinfo.length" disabled="disabled" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="well text-center buy-list">
				<h1><span style="font-size:0.7em;">$</span><em>30<span style="font-size:0.7em;">/mo</span></em></h1>
				<h4>Up to 5,000 Grubcodes</h4>
				<h4><strong>Includes ratings &amp; reviews!</strong></h4>
				<!-- <button type="button" class="btn btn-link btnsignup">Subscribe</button> -->
				<input type="radio" name="purchaseType" ng-click="purchaseTypeChanged(3)" ng-disabled="1 || !paymentinfo.length" />
			</div>
		</div>
	</fieldset>
</div>
</div>
<div class="row" ng-show="purchaseType!=null">
	<div class="alert alert-warning" ng-show="!successDialog">
        <h4>Almost done! &nbsp;Select your payment method and click Submit Payment. &nbsp;We use <a href="https://www.stripe.com/" class="alert-link">Stripe</a> to securely process payments.</h4>
        
        <div class="row" style="padding-left:20px;margin-top:20px;" ng-show="purchaseType!=null">
	<div class="col-md-6">
		
		<div ng-repeat="card in paymentinfo">
			<input type="radio" ng-value="{{card.id}}" ng-click="selectMeth(card.id)" name="paymentMeth" /><span ng-bind="' '+card.cardType + ' (' + card.last4 +')'"></span>
		</div>
	</div>
</div>


        <button type="button" class="btn btn-primary" style="margin-top:10px;" ng-disabled="!selectedPayId" ng-bind="'Submit Payment of $' + priceLabel" ng-click="submitPayment()"></button><span style="color:#c03;font-size:1.2em;display:block;" ng-bind="errorText"></span>
      </div>
      <div class="alert alert-success" ng-show="successDialog">
        <h4>Success! &nbsp;Now generate your Grubcodes in batches or ad hoc.</h4>

      </div>
</div>
<!-- <div class="row" ng-show="purchaseType!=null">
	<div class="col-md-6 cc-info">
		
		<form name="ccform" novalidate class="form-horizontal">
		<div class="form-group" ng-class="{ 'has-error' : !ccform.number.$valid }">
            <label class="col-lg-2 control-label" for="inputNumber">Number</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" id="inputNumber" name="number" placeholder="0000 0000 0000 00" maxlength="4" style="" ng-pattern="patterns.number" ng-model="number" maxlength="4" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : !ccform.expireMonth.$valid || !ccform.expireYear.$valid }">
            <label for="inputPunches" class="col-lg-2 control-label">Expiration (MM/YY)</label>
            <div class="col-lg-2">
              <input type="text" class="form-control" name="expireMonth" placeholder="MM" maxlength="2" ng-model="expireMonth" ng-pattern="patterns.expireMonth" /><span class="help-block" style="margin-top:0px;padding-top:0px;">01-12</span>

            </div>
            <div class="col-lg-2">
              <input type="text" class="form-control" name="expireYear" placeholder="YY" maxlength="2" ng-model="expireYear" ng-pattern="patterns.expireYear" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : !ccform.expireMonth.$valid || !ccform.expireYear.$valid }">
            <label for="inputPunches" class="col-lg-2 control-label">Expiration (MM/YY)</label>
            <div class="col-lg-2">
              <input type="text" class="form-control" name="CVV" placeholder="012" maxlength="4" ng-model="CVV" ng-pattern="patterns.CVV" />

            </div>
          </div>
		</form>
	</div>
</div> -->
