<div class="row">
  <div class="col-md-12">
    <span class="help-block" ng-show="(code_stats.num_permanent_rr && code_stats.num_subscription_rr) || (code_stats.num_permanent && code_stats.num_subscription)">You have both a one-time purchase and a subscription plan. &nbsp;We'll generate your codes from your subscription plan first. &nbsp;This way, you use your 5,000 subscription-based codes before you dip into your permanent codes.</span>
  </div>
</div>
<div class="row">
  <!-- <h1>Create Codes</h1> -->
  <div class="col-md-6">
  <div>
      <form name="genForm" novalidate class="form-horizontal">
        <fieldset>
          <legend>New Grubcode Batch</legend>
          <div class="form-group" ng-class="{ 'has-error' : !genForm.customCode.$valid }">
            <label class="col-lg-2 control-label" for="inputCustomCode">Code Type</label>

            <div class="col-lg-2">

              <div class="radio">
                <label>
                  <input type="radio" name="codeType" value="random" checked="checked" ng-model="codeType" ng-change="codeTypeChanged()" />
                  Random
                </label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="radio">
                <label>
                  <input type="radio" name="codeType" value="custom" ng-model="codeType" ng-change="codeTypeChanged()" disabled />
                  Custom
                </label>
              </div>
            </div>
            <div class="col-lg-10">
              <input type="input" class="form-control" id="inputCustomCode" name="customCode" placeholder="cust0mc0de" maxlength="32" ng-disabled="codeType=='random'" ng-model="customCode" ng-pattern="patterns.customCode" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : !genForm.quantity.$valid }">
            <label class="col-lg-2 control-label" for="inputQuantity">Quantity</label>
            <div class="col-lg-3">
              <input type="text" class="form-control" id="inputQuantity" name="quantity" placeholder="1" maxlength="4" style="" ng-pattern="patterns.quantity" ng-model="quantity" maxlength="4" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : !genForm.punches.$valid }">
            <label for="inputPunches" class="col-lg-2 control-label">Punches</label>
            <div class="col-lg-3">
              <input type="text" class="form-control" id="inputPunches" name="punches" placeholder="1" maxlength="3" style="" ng-model="punches" ng-pattern="patterns.punches" maxlength="3" />
            </div>
          </div>
          <div class="form-group">
            <label for="inputActiveDate" class="col-lg-2 control-label">Active (optional)</label>
            <div class="col-lg-6">
              <input type="date" class="form-control" id="inputActiveDate" placeholder="mm/dd/yyyy" ng-model="activeDate" />
            </div>
          </div>
          <div class="form-group">
            <label for="inputExpireDate" class="col-lg-2 control-label">Expires (optional)</label>
            <div class="col-lg-6">
              <input type="date" class="form-control" id="inputExpireDate" placeholder="mm/dd/yyyy" ng-model="expireDate" />
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-lg-2 control-label" for="inputTransferable">Transferable</label>
            <div class="col-lg-10">
              <div class="checkbox">

                <input id="inputTransferable" type="checkbox" ng-checked="true" ng-model="transferable" /><span class="help-block" style="display:inline;">Allow users to transfer claimed codes to one another.</span> 
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label" for="inputRatingsReviews">Ratings & Reviews</label>
            <div class="col-lg-10">
              <div class="checkbox">
                <input id="inputRatingsReviews" type="checkbox" checked="checked" value="1" ng-model="ratingsReviews" ng-checked="rrChecked()" ng-disabled="rrCheckboxDisabled()" /><span class="help-block" style="display:inline;">If checked, your customers will be able to leave feedback about their experience.  &nbsp;You must have purchased a Ratings & Reviews enabled plan.</span> 
              </div>
            </div>
          </div>
          <div ng-show="successMsg.length" class="alert alert-success" style="marign-bottom:0px;">
                <strong>Success.</strong>
                <span ng-bind="successMsg"></span>
              </div>
              <div ng-show="errorMsg.length" class="alert alert-danger" style="marign-bottom:0px;">
                <strong>Whoops.</strong>
                <span ng-bind="errorMsg"></span>
              </div>
          <div class="form-group">
            <div class="col-lg-12">
              <button type="button" class="btn btn-primary btn-lg btn-block btn-large" ng-disabled="isdisabled()" ng-click="create()">Generate!</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well">
      <div ng-show="!generatedCode || !generatedCode.length">
        <h1>Ad Hoc: a code in a click...</h1>
        <h3>A fast way to create a Grubcode worth up to five punches.</h3>
      </div>
      <div ng-show="generatedCode.length" class="text-center" style="margin-bottom:10px;">
        <h3 ng-bind="quickCodeUrl"></h3>
        <center>
          <div id="quickqr"></div>
        </center>
      </div>
      <div class="input-group">
        <input type="text" class="form-control input-large" readonly ng-model="generatedCode" style="padding-left:2px;padding-right:2px;text-align:center;font-size:30px;color:#18bc9c;">

        <span class="input-group-btn">
          <button class="btn btn-primary btn-large" type="button" ng-click="generate()">Generate</button>
        </span>
      </div>
      <h4 style="margin-top:10px;" ng-bind="'Punches: ' + quickNumPunches">Punches:</h4>
      <div class="btn-group">
        <button ng-repeat="num in [1,2,3,4,5]" type="button" class="btn btn-primary" ng-bind="num" ng-class="{'active' : quickNumPunches==num}" ng-model="quickNumPunches" value="num" ng-click="setQuickPunches(num)"></button>
      </div>
    </div>
  </div>
</div>