<div class="col-md-7">
    <div class="well">
      <div ng-show="!generatedCode || !generatedCode.length">
        <h1>Verify a client's Reward Code</h1>
        <h3>Enter the 6-digit Reward Code to check its status.</h3>
      </div>

      <div class="input-group input-group-lg col-md-12">
        <input type="text" class="form-control input-large" ng-model="rewardCode" style="padding-left:2px;padding-right:2px;text-align:center;font-size:30px;color:#18bc9c;" maxlength="6">

        <span class="input-group-btn">
          <button class="btn btn-primary btn-large" type="button" ng-click="verify()" ng-disabled="isDisabled()"> Verify </button>
        </span>
      </div>
<div class="col-md-12">
            <div class="alert alert-dismissable" ng-click="closeInfo()" ng-show="feedbackBubble.text.length" ng-class="{'alert-info':feedbackBubble.type==1,'alert-success':feedbackBubble.type==0, 'alert-danger':feedbackBubble.type==2}" style="cursor:crosshair;margin-top:20px;">
            <span><strong ng-bind="feedbackBubble.text"></strong></span>
              <!-- <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important. -->
            </div>
          </div>
      <div class="input-group col-md-12" style="margin-top:20px;">
              <button type="button" class="btn btn-primary btn-lg btn-block btn-large" ng-disabled="isDisabled()" ng-click="redeem()">Redeem</button>
            </div>
    </div>
  </div>