<div class="col-md-12">
  <div class="col-md-1">

    <div class="radio">
      <label>
        <input type="radio" name="codeType" value="1" checked="checked" ng-model="codeType" ng-change="viewCodeTypeChanged()" />
        Batches
      </label>
    </div>
  </div>
  <div class="col-md-11">
    <div class="radio">
      <label>
        <input type="radio" name="codeType" value="2" ng-model="codeType" ng-change="viewCodeTypeChanged()" />
        Ad Hoc
      </label>
    </div>
  </div>
  
</div>
<div class="content-random">
  <div class="col-md-6">
    <div id="batches" class="batch-container" ng-show="codeType==1">
      <div class="row" ng-show="!batchTable.items.length">
        <h4>You haven't generated any Grubcode Batches yet.</h4>
      </div>
    <div class="row" ng-show="batchTable.items.length">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="sortable-header"></th>
            <th class="sortable-header" ng-click="batchTable.sort('num_punches')">
              Punches <i sort-icon table="batchTable" column-key="'num_punches'"></i>
            </th>
            <th class="sortable-header" ng-click="batchTable.sort('num_codes')">
              Codes <i sort-icon table="batchTable" column-key="'num_codes'"></i>
            </th>
            <th class="sortable-header" ng-click="batchTable.sort('created')">
              Created <i sort-icon table="batchTable" column-key="'created'"></i>
            </th>
            <th class="sortable-header" ng-click="batchTable.sort('rr')">
              R&R <i sort-icon table="batchTable" column-key="'rr'"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="batch in batchTable.displayedResults" ng-class="{'primary':batchTable.selectedBatchID==batch.batchId}" ng-click="batchTable.rowSelected(batch, $index)">
            <td><a ng-href="/print/batch/{{batch.batchId}}" target="_blank"><i class="glyphicon glyphicon-print" ng-click="print(batch)"></i></a></td>
            <td ng-bind="batch.num_punches"></td>
            <td ng-bind="batch.num_codes"></td>
            <td ng-bind="batch.created | dateFilter"></td>
            <td><i ng-show="batch.rr" class="glyphicon glyphicon-ok"></i></td>
          </tr>
        </tbody>
      </table>
      <div pager table="batchTable"></div>
    </div>
  </div>
    <div id="adhoc" class="adhoc-container" ng-show="codeType==2">
    <div class="row" ng-show="!codes.length">
        <h4>You haven't generated any Ad Hoc Grubcodes yet.</h4>
      </div>
    <div class="row" ng-show="codes.length">

    <div class="code-buttons" style="margin-bottom:10px;">
      <span>Display codes with status </span>
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-warning" ng-class="{active:showUnclaimed}" ng-click="toggle(1)">Unclaimed</button>
          <button type="button" class="btn btn-xs btn-info" ng-class="{active:showClaimed}" ng-click="toggle(2)">Claimed</button>
          <button type="button" class="btn btn-xs btn-success" ng-class="{active:showRedeemed}" ng-click="toggle(4)">Redeemed</button>
        </div>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="sortable-header" ng-click="codeTable.sort('code')">
              Code <i sort-icon table="codeTable" column-key="'code'"></i>
            </th>
            <th class="sortable-header" ng-click="codeTable.sort('num_punches')">
              Punches <i sort-icon table="codeTable" column-key="'num_punches'"></i>
            </th>
            <th class="sortable-header" ng-click="codeTable.sort('created')">
              Created <i sort-icon table="codeTable" column-key="'created'"></i>
            </th>
            <th class="sortable-header" ng-click="codeTable.sort('rr')">
              R&R <i sort-icon table="codeTable" column-key="'rr'"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="code in codeTable.displayedResults" ng-click="codeTable.rowSelected(code)" ng-class="{'primary':codeTable.selectedCodeID==code.id}">
            <td><span class="label" ng-class="{'label-warning':code.statusId==1,'label-info':code.statusId==2,'label-success':code.statusId==4}" ng-bind="code.code" style="font-size:.9em;"></span></td>
            <td ng-bind="code.num_punches"></td>

            <td ng-bind="code.created | dateFilter"></td>
            <td><i ng-show="code.rr" class="glyphicon glyphicon-ok"></i></td>
          </tr>
        </tbody>
      </table>
      <div pager table="codeTable"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="text-align:center;" ng-show="codeType==1">
    <div id="codes" class="code-container">
      <div class="code-buttons" ng-show="batchTable.codesInBatch.length">
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-warning" ng-class="{active:batchFilter.showUnclaimed}" ng-click="batchFilter.toggle(1)">Unclaimed</button>
          <button type="button" class="btn btn-xs btn-info" ng-class="{active:batchFilter.showClaimed}" ng-click="batchFilter.toggle(2)">Claimed</button>
          <button type="button" class="btn btn-xs btn-success" ng-class="{active:batchFilter.showRedeemed}" ng-click="batchFilter.toggle(4)">Redeemed</button>
        </div>
      </div>
      <ul class="codelist" style="list-style:none;margin:0px;padding:0px;">
        <li ng-repeat="code in batchTable.codesInBatch" style="display:inline;padding:0px;font-size:20px;margin:0px 1px 0px 1px;">
          <span class="label" ng-class="{'label-warning':code.statusId==1, 'label-info':code.statusId==2,'label-success':code.statusId==4}" ng-bind="code.code" style="padding:2px;"></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6 text-center" ng-show="codeType==2">
      <!-- <h3>This code was punched by:</h3>
      <h1></h1> -->
      <h3 ng-bind="codeUrl"></h3>
      <center><div id="qr"></div></center>
    
  </div>
</div>