<script src="https://js.stripe.com/v2/" type="text/javascript"></script>
<div class="row">
          
            <div class="page-header" style="margin-top:80px;">
              <h1><i class="glyphicon glyphicon-user" style="font-size:1em;margin-right:14px;"></i>Account</h1>
            </div>
          
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="well">
             
                <fieldset>
                  <legend>Contact Information</legend>
                   <form class="form-horizontal" novalidate>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Business Contact</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputEmail" ng-model="user.email" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputBusinessName" class="col-lg-2 control-label">Business Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputBusinessName" ng-model="user.businessName" disabled>
                    </div>
                  </div>
                  </form>
                  <legend style="margin-bottom:8px;">Payment Method(s)</legend>

                  
                      <div ng-repeat="card in paymentinfo" class="row" style="margin-bottom:10px;">
                        <div class="col-md-1">
                          <i class="glyphicon glyphicon-credit-card" style="font-size:1.8em;float:left;"></i>
                        </div>
                        <div class="col-md-10" style="padding-top:5px;">
                          <span ng-bind="card.cardType + ' (' + card.last4 + ')'"></span>
                          <a style="cursor:pointer;color:#c03;" ng-click="removeMeth(card)"><i class="glyphicon glyphicon-remove" style="font-size:.8em;"></i></a>
                        </div>
                    </div>
                  <label class="control-label btn-link" for="inputNumber">Add...</label>
                </fieldset>
            </div>
          </div>
          <div class="col-md-6">
            <fieldset>
              <legend>Add a Credit Card...</legend>
<span class="help-block" style="margin-top:0px;padding-top:0px;">We use <a href="https://www.stripe.com/"><strong>Stripe</strong></a> to process payments and store card information. &nbsp;This allows us to keep a reference to your card without saving any sensitive data on our servers.</span>
              <form name="ccform" novalidate class="form-horizontal">
    <div class="form-group" ng-class="{ 'has-error' : !ccform.number.$valid }">
            <label class="col-lg-2 control-label" for="inputNumber">Card Number</label>
            <div class="col-lg-6">
              <input type="text" class="form-control" id="inputNumber" name="number" placeholder="0000 0000 0000 0000" maxlength="20" style="" ng-pattern="patterns.number" ng-model="number" maxlength="4" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : !ccform.expireMonth.$valid || !ccform.expireYear.$valid }">
            <label for="inputPunches" class="col-lg-2 control-label">Expiration</label>
            <div class="col-lg-2">
              <input type="text" class="form-control" name="expireMonth" placeholder="MM" maxlength="2" ng-model="expireMonth" ng-pattern="patterns.expireMonth" />

            </div>
            <div class="col-lg-2">
              <input type="text" class="form-control" name="expireYear" placeholder="YY" maxlength="2" ng-model="expireYear" ng-pattern="patterns.expireYear" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : !ccform.expireMonth.$valid || !ccform.expireYear.$valid }">
            <label for="inputPunches" class="col-lg-2 control-label">CVV</label>
            <div class="col-lg-2">
              <input type="text" class="form-control" name="CVV" placeholder="012" maxlength="4" ng-model="CVV" ng-pattern="patterns.CVV" />

            </div>
          </div>
</form>
            <button type="button" class="btn btn-primary" style="margin-top:10px;" ng-click="saveCard()" ng-disabled="addCardDisabled()">Add Card</button>
            <span style="color:#c03;font-size:1.2em;display:block;" ng-bind="errorText"></span>
</fieldset>
            </div>
        </div>