  <div class="row" style="margin-top:80px;margin-bottom:4px;">
    <!-- <h1>Codes</h1> -->

    <div class="col-md-3">
      <h1 style="margin-top:0px;padding-top:0px;display:inline;margin-right:10px;"><i class="glyphicon glyphicon-qrcode" style="font-size:1em;margin-right:14px;"></i>Codes</h1>
      
    </div>
    <div class="col-md-9 input-group text-right" style="padding:6px;">
      <a xqtip class="btn btn-link"><i class="glyphicon glyphicon-stats" style="font-size:1.6em;margin-right:6px;"></i><em style="font-size:1.6em;" ng-bind="availCodesDesc()">250 Grubcodes</em></a>
    </div>

  </div>
  <div class="row">
<ul class="nav nav-tabs" style="margin-bottom:15px;">
  <li ng-repeat="t in tabs.nodes" ng-class="{active:tabs.active==t.title}"><a ng-click="tabs.action(t)" ng-bind="t.title"></a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane" ng-class="{active:tabs.active=='View'}" ng-controller="CodeSearchCtrl">
    <?php include("codes/search.html") ?>
  </div>
  <div class="tab-pane" ng-class="{active:tabs.active=='Generate'}" ng-controller="CodeCreateCtrl">
    <?php include("codes/create.html") ?>
  </div>
  <div class="tab-pane" ng-class="{active:tabs.active=='Redeem'}" ng-controller="CodeRedeemRewardCtrl">
    <?php include("codes/redeem.html") ?>
  </div>
  <div class="tab-pane" ng-class="{active:tabs.active=='Buy'}" ng-controller="CodeBuyCtrl">
    <?php include("codes/buy.html") ?>
  </div>
</div>
</div>