<div ng-hide="user.id">
  <div class="row" style="margin-top:80px;margin-bottom:15px;">
    <div class="col-md-5">
      <span style="font-size:3em;">Welcome to Grubgrabr</span>
    </div>
    <div class="col-md-7 text-right">
      <label for="punchCode">
        <button class="btn btn-link btn-lg" style="margin-right:5px;margin-bottom:5px;">I Have a Grubcode</button>
      </label>
      <button class="btn btn-link btn-lg" style="margin-bottom:5px;" ng-click="product();">I Manage a Restaurant</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron" style="padding-bottom:0px;padding-top:20px;">
        <div class="row">
          <h2 style="margin-left:12px;">A super simple way to get free grub.<br/>No cards. &nbsp;No apps. &nbsp;No contact information required.</h2>
          <div>
            <div class="form-group" style="margin-bottom:10px;">
              <div class="input-group input-group-lg col-md-6">
                <input id="punchCode" type="text" class="form-control" maxlength="7" ng-model="punchCode" style="padding-left:2px;padding-right:2px;text-align:center;">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-click="redeem()" ng-disabled="punchCode.length != 7">Redeem</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col-md-10 alert alert-dismissable alert-success" ng-show="yellowDialog">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div ng-hide="showQuickSignin || showQuickSignUp">
              <h4>Thank you!  This is a valid Grubcode, but we're having trouble remembering you.<br />Have you used Grubgrabr before?</h4>
              <button class="btn btn-primary" type="button" ng-click="existingUser()">Yes, let me sign in</button>
              <button class="btn btn-primary" type="button" ng-click="newUser()">No, I need to sign up</button>
            </div>
            <div ng-show="showQuickSignin">
              <h4>Okay, great!&nbsp; Just provide your username and password, and we'll assign this code to your account.</h4>
              <div class="form-group">
                <div class="col-lg-4">
                  <input type="text" class="form-control" name="username" placeholder="Username" ng-model="qkUsername" />
                </div>
                <div class="col-lg-4">
                  <input type="password" class="form-control" name="password2" placeholder="Password" ng-model="qkPassword" />
                </div>
                <div class="col-lg-4">
                  <button class="btn btn-primary" type="button" ng-click="quickSignIn()" ng-disabled="quickIsDisabled()" style="margin-top:-11px;">Submit</button>
                  <h4 style="color:#c03;" ng-bind="qkError"></h4>
                </div>
              </div>
            </div>
            <div ng-show="showQuickSignUp">
              <h4>Great! &nbsp;Just provide a username and password, and we'll assign this code to your new account.</h4>
              <div class="form-group">
                <div class="col-lg-4">
                  <input type="text" class="form-control" placeholder="Username" ng-model="suUsername" />
                </div>
                <div class="col-lg-4">
                  <input type="password" class="form-control" placeholder="Password" ng-model="suPassword" />
                </div>
                <div class="col-lg-4">
                  <button class="btn btn-primary" type="button" ng-click="quickSignUp()" ng-disabled="quickSignUpDisabled()" style="margin-top:-11px;">Submit</button>
                </div>
              </div>
              <div style="margin-left:0px;">
                <h4 style="color:#c03;" ng-bind="suError"></h4>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p style="margin:0px;"><em style="font-size:1.3em;">1.</em>&nbsp;&nbsp;Eat at places that use <strong>Grubgrabr</strong>.</p>
            <p style="margin:0px;"><em style="font-size:1.3em;">2.</em>&nbsp;&nbsp;Claim the <strong>Grubcode</strong> you receive at purchase by entering it above.</p>
            <p style="margin:0px;"><em style="font-size:1.3em;">3.</em>&nbsp;&nbsp;Earn <strong>Rewards</strong> by claiming enough Grubcodes.</p>
            <p><em style="font-size:1.3em;">4.</em>&nbsp;&nbsp;Get Rewarded faster by leaving <strong>Ratings</strong> & <strong>Reviews</strong>, even uploading a <strong>Photo</strong> of your meal!</p>
          </div>
        </div>
        <!-- <div class="footer" style="font-size:.75em;">* Of course, you can use your Facebook, Twitter, or Instagram account.</div> -->
      </div>
    </div>
  </div>
</div>
<div ng-show="user.id" style="margin-top:80px;">
  <div class="row">
    <div class="col-md-9">
      <h1 style="margin-top:0px;padding-top:0px;"><i class="glyphicon glyphicon-cutlery" style="font-size:1em;margin-right:14px;"></i>{{user.name}}'s score: <strong>{{user.score}}</strong></h1>
    </div>
    <div class="col-md-3 input-group">
      <input class="form-control" ng-model="punchCode" type="text" maxlength="7" placeholder="Redeem Code" />
        <span class="input-group-btn">
                      <button class="btn btn-primary" type="button" ng-disabled="punchCode.length!=7" ng-click="redeem()">Redeem</button>
                    </span>
    </div>
  </div>
          
              

  <ul class="nav nav-tabs" style="margin-bottom:15px;">
    <li ng-repeat="t in tabs.nodes" ng-class="{active:tabs.active==t.title}"><a ng-click="tabs.action(t)" ng-bind="t.title"></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active:tabs.active=='My Codes'}" ng-controller="DefaultCodesCtrl">
      <?php include("default/mycodes.html") ?>
    </div>
    <div class="tab-pane" ng-class="{active:tabs.active=='My Rewards'}" ng-controller="DefaultRewardsCtrl">
      <?php include("default/myrewards.html") ?>
    </div>
    <div class="tab-pane" ng-class="{active:tabs.active=='Redeem'}" ng-controller="DefaultRedeemCtrl">
      <?php include("default/redeem.html") ?>
    </div>
  </div>
</div>
<?php include("default/feedbackmodal.html") ?>
