<div class="row">
	<div class="page-header" style="margin-top:80px;">
		<h1 id="forms"><i class="glyphicon glyphicon-bullhorn" style="font-size:1em;margin-right:14px;"></i>Feedback</h1>
	</div>
	<div class="col-md-12">

		<div class="row" ng-show="!feedbackTable.items.length">
        <h4>No customer has left feedback yet!</h4>
      </div>
		<div class="row" ng-show="feedbackTable.items.length">
		<h4 style="margin-top:0px;">Average Rating:&nbsp; <strong ng-bind="feedback.avgrating.toFixed(2)"></strong> Stars</h4>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
			<th></th>
			<th class="sortable-header" ng-click="feedbackTable.sort('username')">
              User (Score)<i sort-icon table="feedbackTable" column-key="'username'"></i>
            </th>
            <th class="sortable-header" ng-click="feedbackTable.sort('rating')">
              Rating <i sort-icon table="feedbackTable" column-key="'rating'"></i>
            </th>	
            <th class="sortable-header" ng-click="feedbackTable.sort('comment')">
              Comment <i sort-icon table="feedbackTable" column-key="'comment'"></i>
            </th>
                        <th class="sortable-header" ng-click="feedbackTable.sort('created')">
              Reviewed On <i sort-icon table="feedbackTable" column-key="'created'"></i>
            </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="feedback in feedbackTable.displayedResults">
					<td><a ng-show="feedback.imageKey.length" ng-href="{{cfurl}}/{{feedback.imageKey}}" target="_blank"><i class="glyphicon glyphicon-camera"></i></a></td>
					<td ng-bind="feedback.username + '  (' + feedback.userScore + ')'"></td>
					<td ng-bind="feedback.rating"></td>
					<td ng-bind="feedback.comment"></td>
					<td ng-bind="feedback.created | dateFilter"></td>
				</tr>
			</tbody>
		</table>
		<div pager table="feedbackTable"></div>
		</div>
	</div>
</div>
