<div class="row" style="margin-top:40px;">
<div class="page-header">
		<h1 id="forms">Sign up</h1>
	</div>
	<div class="col-md-6">
  <div class="well">
        <fieldset>
        <legend>User Info</legend>
        <form name="regForm" novalidate class="form-horizontal">
        <div class="form-group">
            <label class="col-lg-2 control-label" for="inputCustomCode">User Type</label>
            <div class="col-lg-2">
              <div class="radio">
                <label>
                  <input type="radio" name="userType" value="0" ng-model="userType" ng-change="userTypeChanged()" />
                  Regular
                </label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="radio">
                <label>
                  <input type="radio" name="userType" value="1" checked="checked" ng-model="userType" ng-change="userTypeChanged()" />
                  Account Owner
                </label>
              </div>
            </div>
          </div>
          <div ng-show="userType==0">
          <div class="form-group" ng-class="{ 'has-error' : !regForm.username.$valid }">
            <label class="col-lg-2 control-label" for="inputUsername">Username</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" ng-pattern="patterns.username" ng-model="username" maxlength="50" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : !regForm.password.$valid }">
            <label class="col-lg-2 control-label" for="inputPassword">Password</label>
            <div class="col-lg-5">
              <input type="password" class="form-control" id="inputPassword"  name="password" placeholder="Password" ng-model="password" maxlength="64"  />
            </div>
            <div class="col-lg-5">
              <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="Re-enter" ng-model="password2" maxlength="64"  />
            </div>
          </div>
          </div>
          </form>
<div ng-show="userType==1">
<form name="businessForm" novalidate class="form-horizontal">
<div class="form-group" ng-class="{ 'has-error' : !businessForm.businessName.$valid }">
            <label class="col-lg-2 control-label" for="inputBusinessName">Business Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputBusinessName" name="businessName" placeholder="Business Name" ng-pattern="patterns.businessName" ng-model="businessName" maxlength="150" ng-disabled="userType==0" />
            </div>
          </div>
<div class="form-group" ng-class="{ 'has-error' : !businessForm.email.$valid }">
            <label class="col-lg-2 control-label" for="inputEmail">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputEmail" name="email" placeholder="Email" ng-pattern="patterns.email" ng-model="email" maxlength="150" ng-disabled="userType==0" />
            </div>
          </div>
        <div class="form-group" ng-class="{ 'has-error' : !businessForm.firstName.$valid }">
            <label class="col-lg-2 control-label" for="inputFirstName">Contact Name</label>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="First" ng-pattern="patterns.firstName" ng-model="firstName" maxlength="150" ng-disabled="userType==0" />
            </div>
            <div class="col-lg-5">
              <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Last" ng-pattern="patterns.lastName" ng-model="lastName" maxlength="150" ng-disabled="userType==0" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : !businessForm.username.$valid }">
            <label class="col-lg-2 control-label" for="inputUsername">Username</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" ng-pattern="patterns.username" ng-model="username" maxlength="50" />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : !businessForm.password.$valid }">
            <label class="col-lg-2 control-label" for="inputPassword">Password</label>
            <div class="col-lg-5">
              <input type="password" class="form-control" id="inputPassword" ng-trim="false" name="password" placeholder="Password" ng-model="password" maxlength="64" />
            </div>
            <div class="col-lg-5">
              <input type="password" class="form-control" id="inputPassword2" ng-trim="false" name="password2" placeholder="Re-enter" ng-model="password2" maxlength="64" />
            </div>
          </div>
          </div>
          <h4 style="color:#c03;" ng-bind="errorDesc"></h4>
          <div class="form-group">
            <div class="col-lg-12">
              <button type="button" class="btn btn-primary btn-lg btn-block btn-large" ng-disabled="(!regFormValid() && !businessFormValid()) || working" ng-click="submit()">Sign Up</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>