<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavBarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ng-click="home()">Grubgrabr</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-show="user.id" ng-class="{active:path=='/'}"><a href="javascript:;" ng-click="home()">Home</a></li>
        <li ng-show="user.id && user.businessId" ng-class="{active:path=='/codes'}"><a href="javascript:;" ng-click="codes()">Codes</a></li>
        <li ng-show="user.id && user.businessId" ng-class="{active:path=='/rewards'}"><a href="javascript:;" ng-click="rewards()">Rewards</a></li>
        <li ng-show="user.id && user.businessId" ng-class="{active:path=='/feedback'}"><a href="javascript:;" ng-click="feedback()">Feedback</a></li>
        <li ng-show="user.id && user.businessId" ng-class="{active:path=='/account'}"><a href="javascript:;" ng-click="account()">Account</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="user.id"><a href="#" ng-click="logout()">Logout</a></li>
        <li ng-show="!user.id && showLoginInputs">
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control col-md-8" placeholder="Username" ng-model="loginUsername" />
            <span class="col-md-8" style="color:#c03;" ng-bind="loginError"></span>
          </form>
        </li>
        <li ng-show="!user.id && showLoginInputs">
          <form class="navbar-form navbar-right">
            <input type="password" class="form-control col-lg-8" placeholder="Password" ng-model="loginPassword" />
          </form>
        </li>
        <li ng-show="!user.id"><a href="#" ng-click="login()">Login</a></li>
        <li ng-show="!user.id"><a href="#" ng-click="signup()">Join</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
	<div ng-view></div>
</div>
<div class="container" style="margin-top:25px;">
  <div class="page-header"></div>
  <div class="row text-center">
    <span class="help-block">&copy; 2013 Grubgrabr, v. 0.1 (beta)</span>
  </div>
  <div class="row text-center">
    <span class="help-block" xcontact style="margin-left:20px;cursor:pointer;">Contact Us</span>
  </div>
</div>
