<div class="col-lg-6" style="margin-top:80px;">
	<!-- <div class="page-header">
              <h1 id="forms">Sign In</h1>
            </div> -->
<div class="well">
	  <form class="form-horizontal" ng-show="!user.id">
	    <fieldset>
	      <legend>Login credentials</legend>
	      <div class="form-group">
	        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
	        <div class="col-lg-10">
	          <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="email">
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
	        <div class="col-lg-10">
	          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password">
	          <div class="checkbox">
	            <label>
	              <input type="checkbox"> Remember me
	            </label>
	          </div>
	        </div>
	      </div>
	      
	      <div class="form-group">
	        <div class="col-lg-10 col-lg-offset-2">
	          <button type="submit" class="btn btn-primary" ng-click="signin()">Sign In</button> 
	        </div>
	      </div>
	    </fieldset>
	  </form>

	<form class="form-horizontal" ng-show="user.id">
    <fieldset>
      <legend ng-bind="user.businessName"></legend>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" ng-model="user.email" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="inputBusinessName" class="col-lg-2 control-label">Business Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputBusinessName" ng-model="newBusinessName">
        </div>
      </div>
      <!-- <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Textarea</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea"></textarea>
          <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Radios</label>
        <div class="col-lg-10">
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
              Option one is this
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Option two can be something else
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="select" class="col-lg-2 control-label">Selects</label>
        <div class="col-lg-10">
          <select class="form-control" id="select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <br>
          <select multiple="" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div> -->
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <!-- <button class="btn btn-default">Cancel</button>  -->
          <button type="submit" class="btn btn-primary">Submit</button> 
        </div>
      </div>
    </fieldset>
  </form>
</div>
