<div ng-controller="PrintCtrl">
	<div class="row" style="padding:10px;padding-left:30px;">
		<a class="btn btn-primary" ng-click="qrCodify()">Show QR-Codes</a>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul id="printlist">
				<li ng-repeat="code in codes">
					<center>
						<h3 ng-bind="code.code + '.ggco.de'"></h3>
						<div id="{{code.id}}"></div>
					</center>
				</li>
			</ul>
		</div>
	</div>
</div>
