<div class="row" style="margin-top:80px;">
	<div class="col-md-12">
		<h2>What is Grubgrabr?</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="well" style="padding-top:5px;">
			<h3>Grubgrabr is a simple Rewards program that allows you to obtain instant feedback about your customer's experience via Ratings, Reviews -- even Photos!</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>How does it work?</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="well text-center product-howto" ng-class="{'border-green': selectedNode==0}"  ng-click="details(0);">
			<i class="glyphicon glyphicon-gift" style="font-size:3em;"></i>
			<h4>Set up Rewards for your customers</h4>
		</div>
	</div>
	<div class="col-md-3">
		<div class="well text-center product-howto" ng-class="{'border-green': selectedNode==1}" ng-click="details(1);">
			<i class="glyphicon glyphicon-flash" style="font-size:3em;"></i>
			<h4>Generate Grubcodes in batches or one at a time</h4>
		</div>
	</div>
	<div class="col-md-3">
		<div class="well text-center product-howto" ng-class="{'border-green': selectedNode==2}" ng-click="details(2);">
			<i class="glyphicon glyphicon-qrcode" style="font-size:3em;"></i>
			<h4>Distribute Grubcodes to customers at purchase</h4>
		</div>
	</div>
	<div class="col-md-3">
		<div class="well text-center product-howto" ng-class="{'border-green': selectedNode==3}" ng-click="details(3);">
			<i class="glyphicon glyphicon-cutlery" style="font-size:3em;"></i>
			<h4>Customers redeem Rewards for free grub!</h4>
		</div>
	</div>
</div>
<div class="row" ng-show="selectedNode==0">
	<div class="col-md-12">
		<div class="well">
			<ul style="font-size:1.5em;">
				<li>A <strong>Reward</strong> is whatever you'd like it to be. &nbsp;A free meal, drink, etc</li>
				<li>To be redeemed, a Reward requires a certain amount of <strong>Punches</strong>, set by you</li>
			</ul>
		</div>
	</div>
</div>
<div class="row" ng-show="selectedNode==1">
	<div class="col-md-12">
		<div class="well">
			<ul style="font-size:1.5em;">
				<li>Create 7-digit <strong>Grubcodes</strong>, each holding a number of Punches, set by you
					<ul>
						<li>For offline distribution, download and print large amounts of Grubcodes in <strong>batches</strong></li>
						<li>For online processing, generate Grubcodes <strong>one-by-one</strong> via our website or API</li>
					</ul>
				</li>					
			</ul>
		</div>
	</div>
</div>
<div class="row" ng-show="selectedNode==2">
	<div class="col-md-12">
		<div class="well">
			<ul style="font-size:1.5em;">
				<li>Print Grubcodes & QR-codes on your customer's receipt, stickers, strips of paper, etc</li>
				<li>Or, allow customers to scan QR-code images displayed on a screen at the counter</li>
				<li>
					Customer <strong>claims</strong> the Punches by going to http://<strong>abcd123.ggco.de</strong> in any browser
					<ul>
						<li>The customer can also leave <strong>ratings</strong>, <strong>reviews</strong>, and even upload a <strong>photo</strong> of their meal.</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row" ng-show="selectedNode==3">
	<div class="col-md-12">
		<div class="well">
			<ul style="font-size:1.5em;">
				<li>After earning enough Punches, customer redeems them for a 6-digit <strong>Rewardcode</strong>, which the customer will present at the counter to obtain his or her Reward</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2>Pricing</h2>
	</div>
</div>
<div class="row price-list">
	<div class="col-md-4">
		<div class="well text-center">
			<h1><em>Free!</em></h1>
			<h4>300 Grubcodes upon Sign-Up</h4>
			<h4 style="margin-bottom:6px;"><strong>Includes ratings & reviews!</strong></h4>
			<button type="button" class="btn btn-link btnsignup" ng-click="signup()">Sign Up</button>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well text-center">
			<h1><span style="font-size:0.7em;">$</span><em>10</em></h1>
			<h4>2,000 Grubcodes</h4>
			<ul class="pricing-detail-list">
				<li>No ratings & reviews</li>
			</ul>
			<button type="button" class="btn btn-link btnsignup" style="margin-top:15px;" ng-click="signup()">Sign Up</button>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well text-center">
			<h1><span style="font-size:0.7em;">$</span><em>15</em></h1>
			<h4>2,000 Grubcodes</h4>
			<h4><strong>Includes ratings & reviews!</strong></h4>
			<button type="button" class="btn btn-link btnsignup" style="margin-top:6px;" ng-click="signup()">Sign Up</button>
		</div>
	</div>
</div>
<div class="row">
	
</div>