<div class="row">
	<div class="page-header" style="margin-top:80px;">
		<h1 id="forms"><i class="glyphicon glyphicon-gift" style="font-size:1em;margin-right:14px;"></i>Rewards</h1>
	</div>
	<div class="col-md-6">

			<div class="row" ng-show="!rewardTable.items.length">
        <h4>You haven't created any Rewards yet.</h4>
      </div>

		<div class="row" ng-show="rewardTable.items.length">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
				<th class="sortable-header" ng-click="rewardTable.sort('name')">
              Reward <i sort-icon table="rewardTable" column-key="'name'"></i>
            </th>
            <th class="sortable-header" ng-click="rewardTable.sort('num_redeemed')">
              Redemptions <i sort-icon table="rewardTable" column-key="'num_redeemed'"></i>
            </th>	
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="reward in rewardTable.displayedResults">
					<td>
						<p>
							<span style="font-size:1.4em" ng-bind="reward.name"></span>
							<em style="font-size:1em" ng-bind="'(' + reward.required_punches + ' punches)'"></em>
							<small ng-bind="reward.desc" style="display:block;"></small>
						</p>
					</td>
					<td ng-bind="reward.num_redeemed"></td>
				</tr>
			</tbody>
		</table>
		<div pager table="rewardTable"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			<form name="rewardForm" class="form-horizontal">
				<fieldset>
					<legend>Create New Reward</legend>
					<div class="form-group">
						<label for="inputName" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputName" name="rewardName" ng-pattern="patterns.rewardName" ng-model="newRewardName" maxlength="256">
						</div>
					</div>
					<div class="form-group">
						<label for="textArea" class="col-lg-2 control-label">Description</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="3" id="textArea" name="rewardDesc" ng-pattern="patterns.rewardDesc" ng-model="newRewardDesc" ng-maxlength="1024"></textarea>
							<span class="help-block">A quick description of the reward.</span>
						</div>
					</div>

					<div class="form-group">

						<label for="select" class="col-lg-2 control-label">Punches Required</label>
						<div class="col-lg-3">
							<input type="text" class="form-control" placeholder="1" ng-pattern="patterns.requiredPunches" maxlength="3" ng-model="nrReqPunches"  maxlength="3" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="submit" class="btn btn-primary" ng-click="create()" ng-disabled="isdisabled()">Submit</button> 
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
