<div ng-controller="FeedbackModalCtrl" class="modal fade" id="feedbackDialog">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">We'd love your feedback!</h4>
        </div>
        <div class="modal-body" style="padding-top:0px;margin-bottom:0px;padding-bottom:0px;">
          <div class="row text-center">
          <h4 style="margin-top:5px;"><em style="font-size:1.2em;">1.</em> &nbsp;Rate your experience at<br /><strong ng-bind="code.businessName"></strong></h4>
          <div class="btn-group">
              <a ng-repeat="n in [1,2,3,4,5]" class="btn btn-primary" ng-click="code.inputRating=n">
                <i ng-show="code.inputRating >= n" class="glyphicon glyphicon-star" style="color:#ff0;"></i>
                <i ng-hide="code.inputRating >= n" class="glyphicon glyphicon-star" style="color:#666;"></i>
              </a>
          </div>
          </div>
          <div class="row text-center" style="padding-top:24px">
              <h4 style="margin-top:5px;"><em style="font-size:1.2em;">2.</em> &nbsp;Suggestions, complaints, compliments, etc.</h4>
              <textarea class="form-control" style="min-width:50%;" ng-model="code.inputComment" maxlength="2048"></textarea>
          </div>
          <div class="row text-center" style="margin-top:24px;">
              <h4 style="margin:0px;"><em style="font-size:1.2em;">3.</em> &nbsp;Snap a Photo of your Meal!</h4>
              <i class="glyphicon glyphicon-camera" style="font-size:3em;position:relative;left:51px;"></i>
              
                <input type="file" id="imageF" name="fileName" style="display:inline;opacity:.0;width:100px;position:relative;right:36px;bottom:16px;padding:20px;" />
              <img id="imagePreview" ng-src="{{thumbUrl}}"  ng-show="thumbUrl.length" style="position:relative;" />
              
          </div>
          <div class="row" ng-show="uploading">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="progress progress-striped active" style="width:50%:">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
        <div class="modal-footer text-center" style="margin-top:0px;">
          <center><button class="btn btn-primary" ng-click="submitrr()" ng-disabled="!code.inputRating">Submit Feedback</button></center>
        </div>
      </div>
    </div>
</div>
