<div class="row" ng-show="!mycodes.length">
  <h4>You haven't claimed any Grubcodes yet!</h4>
</div>
<div class="row" ng-show="mycodes.length">
<div style="margin-bottom:10px;">
      <span>Display Grubcodes with status </span>
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-info" ng-class="{active:showClaimed}" ng-click="toggle(2)">Claimed</button>
          <button type="button" class="btn btn-xs btn-success" ng-class="{active:showRedeemed}" ng-click="toggle(4)">Redeemed</button>
        </div>
      </div>
</div>
<div class="row" ng-show="mycodes.length">
  <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="sortable-header" ng-click="activityTable.sort('businessName')">
              Brand <i sort-icon table="activityTable" column-key="'businessName'"></i>
            </th>
            <th class="sortable-header" ng-click="activityTable.sort('statusId')">
              Code <i sort-icon table="activityTable" column-key="'statusId'"></i>
            </th>
            <th class="sortable-header" ng-click="activityTable.sort('num_punches')">
              Punches <i sort-icon table="activityTable" column-key="'num_punches'"></i>
            </th>
            <th class="sortable-header" ng-click="activityTable.sort('punched')">
              Punched On <i sort-icon table="activityTable" column-key="'punched'"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="code in activityTable.displayedResults" ng-click="codeSelected(code)" ng-class="{'primary':selectedCodeId==code.codeId}">
            <td>
              <span ng-bind="code.businessName"></span>
              <span ng-show="code.rr" ng-click="showRR(code);" style="margin-left:6px;">
                <a href="javascript:"><i class="glyphicon glyphicon-bullhorn" style="font-size:1em;"></i></a> 
                <em class="text-success" style="display:none;font-size:.8em" ng-show="code.rating > 0">+1</em>
              </span>
            </td>
            <td>
              <span class="label" ng-class="{'label-info':code.statusId==2,'label-success':code.statusId==4}" ng-bind="code.code" style="font-size:.9em;"></span>
            </td>
            <td><span ng-bind="code.num_punches"></span></td>
            <td ng-bind="code.punched | dateFilter"></td>
          </tr>
        </tbody>
      </table>
      <div pager table="activityTable"></div>
</div>
