<div class="row" ng-show="!myrewards.length">
  <h4>You haven't redeemed any Rewards yet!</h4>
</div>
<div class="row" ng-show="myrewards.length">
<div class="reward-buttons" style="margin-bottom:10px;">
      <span>Display Rewards with status </span>
        <div class="btn-group">
          <button type="button" class="btn btn-xs btn-info" ng-class="{active:showClaimed}" ng-click="toggle(2)">Claimed</button>
          <button type="button" class="btn btn-xs btn-success" ng-class="{active:showRedeemed}" ng-click="toggle(4)">Redeemed</button>
        </div>
      </div>
  <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="sortable-header" ng-click="rewardsTable.sort('rewardName')">
              Reward <i sort-icon table="rewardsTable" column-key="'rewardName'"></i>
            </th>
            <th class="sortable-header" ng-click="rewardsTable.sort('businessName')">
              Brand <i sort-icon table="rewardsTable" column-key="'businessName'"></i>
            </th>
            <th class="sortable-header" ng-click="rewardsTable.sort('statusId')">
              Code <i sort-icon table="rewardsTable" column-key="'statusId'"></i>
            </th>
            <th class="sortable-header" ng-click="rewardsTable.sort('required_punches')">
              Punches <i sort-icon table="rewardsTable" column-key="'required_punches'"></i>
            </th>
            <th class="sortable-header" ng-click="rewardsTable.sort('created')">
              Claimed On <i sort-icon table="rewardsTable" column-key="'created'"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reward in rewardsTable.displayedResults" ng-click="rowSelected(reward)" ng-class="{'primary':selectedRewardId==reward.rewardCodeId}">
            <td>
              <h4 class="list-group-item-heading" ng-bind="reward.rewardName"></h4>
              <p class="list-group-item-text" ng-bind="reward.rewardDesc"></p>
            </td>
            <td ng-bind="reward.businessName"></td>
            <td><span class="label" ng-class="{'label-info':reward.statusId==2,'label-success':reward.statusId==4}" ng-bind="reward.code" style="font-size:.9em;"></span></td>
            <td ng-bind="reward.required_punches"></td>
            <td ng-bind="reward.created | dateFilter"></td>
          </tr>
        </tbody>
      </table>
      <div pager table="rewardsTable"></div>
</div>