<div class="row" ng-show="!userrewards.length">
    <h4>You must claim a Grubcode to view Rewards.</h4>
</div>
<div class="row" ng-show="userrewards.length">

<div ng-repeat="rewardNode in userrewards" class="col-md-6">
<div class="well">
              <h2 ng-bind="rewardNode.businessName" style="margin-top:0px;"></h2>
              <div class="row">
              	 <div class="col-md-9">
              	<strong ng-bind="'Punches: ' + rewardNode.availPunches + ' unused of ' + rewardNode.score + ' total'"> </strong>
                <span class="help-block" ng-show="!rewardNode.rewards.length">This restaurant has not set up any Rewards.</span>
              </div>
              <div class="col-md-3 text-right">
              	<button type="button" class="btn btn-primary btn-xs" ng-click="rewardNode.showAll=1" ng-bind="'Show All ' + rewardNode.rewards.length" style="margin-bottom:10px;" ng-show="rewardNode.rewards.length > 10 && !rewardNode.showAll">Show All</button>
              </div>
              </div>
             
            	<ul class="list-group">
                <li ng-repeat="reward in rewardNode.rewards | userRewardFilter:rewardNode.showAll" class="list-group-item" ng-click="rowSelected(reward)" ng-class="{'active' :activeReward.rewardId==reward.rewardId}">
                  <span class="badge" ng-bind="reward.required_punches + ' Punches'"></span>
                  <i style="float:right;margin-right:10px;" class="glyphicon glyphicon-ok-sign" ng-show="rewardNode.availPunches >= reward.required_punches"></i>
<span class="badge" ng-show="activeReward.rewardId==reward.rewardId" style="background-color:#18bc9c;"></span>
                  {{ reward.rewardName }}
                </li>
              </ul>
              <div ng-show="successMsg.length && activeReward.businessId == rewardNode.id" class="alert alert-success" style="marign-bottom:0px;">
                <strong>Nice job.</strong>
                <span ng-bind="successMsg"></span>
              </div>
              <button class="btn btn-primary" ng-click="redeem()" ng-show="activeReward.businessId == rewardNode.id && rewardNode.availPunches >= activeReward.required_punches">Redeem</button>
              </div>
         


          </div>
</div>
