body {
	padding-bottom:50px;
}

th.sortable-header {
	cursor:pointer;
}
input.generateCodeInput {
	padding-left:2px;
	padding-right:2px;
	text-align:center;
	font-size:30px;
	color:#18bc9c;
}
.product-howto{
	border:2px solid transparent;
	cursor:pointer;
}
.buy-list {
	#border:2px solid transparent;
	#cursor:pointer;
}
.border-green {
	border:2px solid #18bc9c;
}
ul.pricing-detail-list {
	list-style:none;
	padding:0px;
	margin:0px;
}
.price-list .btnsignup {
	margin-top:10px;
}
.price-list h2 {
	margin-top:0px;
}
ul#printlist {
	list-style:none;
	padding:0px;
	margin:0px;
}

ul#printlist li {
	padding:10px;
	display:inline-block;
}

.nomaxwidth {
	max-width: 999999px; !important
	background-color:#f00; !important
}
